{% extends "base.html" %} {% block body %}
<div class="min-h-screen p-8 mt-12">
    <form
        class="max-w-2xl mx-auto rounded-lg shadow-md p-6 bg-[#19212c]"
        method="post"
        action="{{ url_for('create_group') }}"
        enctype="multipart/form-data"
    >
        {{ form.csrf_token }}
        <h2 class="text-2xl font-bold mb-6 text-white">Create New Group</h2>

        <div class="mb-6">
            <label class="block text-white text-sm font-bold mb-2" for="title">
                Group Title
            </label>
            {{ form.group_title( class="w-full px-3 py-2 border border-gray-300
            rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500",
            id="title", placeholder="Enter group title" ) }}
        </div>

        <div class="mb-6">
            <label
                class="block text-white text-sm font-bold mb-2"
                for="description"
            >
                Group Description
            </label>
            {{ form.group_description( class="w-full px-3 py-2 border
            border-gray-300 rounded-md focus:outline-none focus:ring-2
            focus:ring-blue-500", id="description", rows="4", placeholder="Enter
            group description" ) }}
        </div>
        <div class="mb-6">
            <label class="block text-white text-sm font-bold mb-2" for="image">
                Group Image
            </label>
            {{ form.group_image( class="w-full px-3 py-2 text-black bg-white
            border border-gray-300 rounded-md focus:outline-none focus:ring-2
            focus:ring-blue-500", id="image", ) }}
        </div>

        <div class="mb-6">
            <label class="block text-white text-sm font-bold mb-2" for="tags">
                Group Tags
            </label>
            {{ form.group_tags( class="w-full px-3 py-2 border border-gray-300
            rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500",
            id="tags", placeholder="Enter tags separated by commas" ) }}
        </div>

        <button
            class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
            type="submit"
        >
            Create Group
        </button>
    </form>
</div>
{% endblock body %}
